<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="testsuite" configfailurepolicy="continue">
	<test name="parallel tests" parallel="methods" thread-count="5">
		<packages>
			<package name="local.mcve.chromedriver.threadsafety.*" />
		</packages>
	</test>
</suite>
